body{
    background-color: rgb(57, 57, 106);
}

header{
    background-color: black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}
.busqueda{
    width: 75vh;
    height: 25px;
}
.buscar{
    width: 10vh;
    height: 25px;
    margin-right: 20px;
}

nav{
    width: 100%;
    display: flex;
    align-items: center;
    height: 3rem;

    background-color: rgb(67, 67, 144);
    
}
nav a{

    display: inline-block;
    justify-content: space-between;
    align-items: center;

    margin: 25px;
    height: 5px;
    
    text-decoration: none;
    color: white;

    border-right: 1px solid black;
    border-width: 0%;
}

nav a:last-child{
    border-right: 0;
}

.portada{
    
    color: white;
    font-size: 18px;
    text-align: left;

    height: 70vh;
    width: 100%;
}

main img{
    
}

main div{
    position: absolute;
    z-index: 1;

    text-align: left;
    color:black;
}
main div p{
    width: 35%;    
}

